<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navegador ElectroShop</title>
    <link rel="stylesheet" href="navbar.css">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-menu">
            <button id="menu-button" class="menu-button">
                <img src="../menu.png" alt="Menu" class="menu-icon">
                <span>Menu</span>
            </button>
            <ul id="submenu" class="submenu">
                <li><a href="#">Categorias</a></li>
            </ul>
        </div>
        <div class="navbar-logo"> 
            <h1>ElectroShop</h1>
        </div>
        <div class="navbar-search">
            <input type="text" placeholder="Buscar">
            <button class="search-button">
                <img src="../lupa.png" alt="Buscar">
            </button>
        </div>
        <div class="navbar-links">
            <a href="#">Registrarse</a>
            <img src="../usuario.png" alt="User" class="user-icon">
            <a href="#">Carrito</a>
            <img src="../carrito.png" alt="Carrito" class="cart-icon">  
        </div>
    </nav>

    <script >
        document.getElementById('menu-button').addEventListener('click', function() {
    const submenu = document.getElementById('submenu');
    if (submenu.style.display === 'none' || submenu.style.display === '') {
        submenu.style.display = 'block';
    } else {
        submenu.style.display = 'none';
    }
});

    </script>
</body>
</html>


